.container-fluid
  .row
    .col-sm-12
      .page-header
        %h1
          = "Perfil de #{current_user.email}"

  .row
    .col-sm-12
      %ul#user_tabs.nav.nav-tabs{:role => "tablist"}
        %li.active
          = link_to "Editar datos", "#user_form"
        %li
          = link_to "Mis capturas", "#captures"
        %li
          = link_to "Mis premios", "#prizes"
      .tab-content    
        #user_form.col-sm-8.col-sm-offset-2.tab-pane.fade.in.active.kerpie-tab
          = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal", role: "form" }) do |f|
            = custom_devise_error_messages!
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %div
                Currently waiting confirmation for: #{resource.unconfirmed_email}
            .form-group
              = f.label :name, "Nombres: ", class: "col-sm-2 control-label"
              .col-sm-10
                = f.text_field :name, autocomplete: "off", class: "form-control"
            .form-group
              = f.label :last_name, "Apellidos:", class: "col-sm-2 control-label"
              .col-sm-10
                = f.text_field :last_name, autocomplete: "off", class: "form-control"
            .form-group
              = f.label :email, "Correo: ", class: "col-sm-2 control-label"
              .col-sm-10
                = f.email_field :email, class: "form-control"
            .form-group
              = f.label :password, "Nueva contraseña:", class: "col-sm-2 control-label"
              .col-sm-10
                = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Ingresa tu nueva contraseña"
            .form-group
              = f.label :password_confirmation, "Confirmar nueva contraseña:", class: "col-sm-2 control-label"
              .col-sm-10
                = f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirma tu nueva contraseña"
            .form-group
              = f.label :current_password, "Contraseña actual: ",class: "col-sm-2 control-label"
              .col-sm-10
                = f.password_field :current_password, autocomplete: "off", placeholder: "Ingresa tu contraseña actual para confirmar los cambios", class: "form-control"
            .form-group
              .col-sm-offset-2.col-sm-10
                = f.submit "Actualizar datos", class: "btn bn-default btn-block"
        #captures.tab-pane.fade.col-sm-12.kerpie-tab
          - current_user.captures.each do |capture|
            .col-xs-6.col-md-3
              = link_to capture, class: "thumbnail" do
                = image_tag capture.image.url(:medium)
        #prizes.tab-pane.fade.kerpie-tab
          %h1
            messages
/ %h3 Cancel my account
/ %p
/   Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
/ = link_to "Back", :back

-content_for :ready_scripts do
  :javascript
    $('#user_tabs a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })